<
<nav style="margin: auto" class="navbar navbar-expand-lg bg-dark">
  <a style="color: white" class="navbar-brand" href="#">SIDDHINATH HOSPITALS</a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a
          style="color: white"
          class="nav-link active"
          aria-current="page"
          href="javascript:void(0);"
          routerLink="/view-medicine"
          >BACK</a
        >
      </li>
    </ul>

    <div class="mx-2"></div>
  </div>
</nav>
<div class="container">
  <h2 class="text-center">Add new medicine</h2>

  <form (ngSubmit)="onSubmit()">
    <div>
      <label>Drug name</label>
      <input
        type="text"
        id="name"
        name="drugname"
        class="form-control"
        placeholder="Enter drug name "
        [(ngModel)]="medicine.drugName"
      />
      <label>Stock</label>
      <input
        type="text"
        name="stock"
        id="stock"
        class="form-control"
        placeholder="Enter stock data"
        [(ngModel)]="medicine.stock"
      />
    </div>
    <br />

    <div class="text-center">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>
